body {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  ); /* Light gray background */
  color: #333; /* Default text color */
  font-family: Arial, sans-serif; /* Default font family */
  margin: 20px;
  padding: 0;
}
.navbar {
  background-color: #accb33; /* Darker blue for navbar */
  padding: 10px;
}

h1 {
  font-size: 24px;
  color: #2c502f; /* Darker blue for headings */
}
h2 {
  font-size: 20px;
  color: #14140b; /* Darker blue for subheadings */
}

p {
  font-size: 16px;
  color: #333; /* Default text color */
}
ul {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: #333;
}
.link:hover {
  color: yellow;
}

/* iPhone 12 and up (portrait) */
@media (max-width: 390px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

/* iPad (portrait) */
@media (min-width: 768px) and (max-width: 820px) {
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 224, 36);
  }
}
.experience {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #b0cd1e;
  width: 30%;
  padding: 30px;
  margin-left: 30px;
}

li {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.skills {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: rgb(218, 224, 36);
  width: 50%;
}

/* Base Styles (Mobile First) */
#Skills ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#Skills li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f5dd43;
  border-radius: 5px;
  text-align: center;
}

#Projects li {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f5dd43;
  border-radius: 5px;
  text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
  #Skills ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #Skills li {
    flex: 1 1 30%; /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  #Skills ul {
    justify-content: space-between;
  }

  #Skills li {
    flex: 1 1 20%;
  }
}

/* Base Styles for Form */
form[name="leave_message"] {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adds space between form elements */
  max-width: 300px; /* Limits the form width */
  margin: 5 auto; /* Centers the form */
  padding: 20px;
  border: 1px solid #292a27;
  border-radius: 5px;
  background-color: #d4db4e;
}
